flows.json
[{"id":"5beda689.99db68","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"f54d16c9.d5e428","type":"ibmiot in","z":"5beda689.99db68","authentication":"apiKey","apiKey":"dae2adf2.7c357","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":80,"wires":[["9d5753c2.73652","bd1cd5aa.502c38","437e2ec7.27f31","19182143.f8d04f","43ce73f6.dc196c"]]},{"id":"9d5753c2.73652","type":"debug","z":"5beda689.99db68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":80,"wires":[]},{"id":"bd1cd5aa.502c38","type":"function","z":"5beda689.99db68","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":20,"wires":[["9d5753c2.73652","9c2bcec4.f6694"]]},{"id":"437e2ec7.27f31","type":"function","z":"5beda689.99db68","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["9d5753c2.73652","4d527b7.fc7b484"]]},{"id":"9c2bcec4.f6694","type":"ui_gauge","z":"5beda689.99db68","name":"","group":"fa7c6a67.051358","order":1,"width":0,"height":0,"gtype":"donut","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":20,"wires":[]},{"id":"4d527b7.fc7b484","type":"ui_gauge","z":"5beda689.99db68","name":"","group":"fa7c6a67.051358","order":2,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":120,"wires":[]},{"id":"c9b0449c.b351a8","type":"ui_button","z":"5beda689.99db68","name":"","group":"fa7c6a67.051358","order":3,"width":0,"height":0,"passthru":false,"label":"MOTORON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTORON\"}","payloadType":"json","topic":"","x":230,"y":400,"wires":[["8f6f4989.0acf18"]]},{"id":"82923791.715ab8","type":"ui_button","z":"5beda689.99db68","name":"","group":"fa7c6a67.051358","order":4,"width":0,"height":0,"passthru":false,"label":"MOTOROFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"MOTOROFF\"}","payloadType":"json","topic":"","x":220,"y":480,"wires":[["8f6f4989.0acf18"]]},{"id":"8f6f4989.0acf18","type":"ibmiot out","z":"5beda689.99db68","authentication":"apiKey","apiKey":"dae2adf2.7c357","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":570,"y":400,"wires":[]},{"id":"f2d609fe.640c68","type":"http in","z":"5beda689.99db68","name":"data","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":150,"y":300,"wires":[["e416bec0.d4eb6"]]},{"id":"769c7416.d3788c","type":"http response","z":"5beda689.99db68","name":"","statusCode":"","headers":{},"x":570,"y":300,"wires":[]},{"id":"e416bec0.d4eb6","type":"function","z":"5beda689.99db68","name":"","func":"msg.payload={'temperature':global.get(\"temperature\"),'humidity':global.get(\"humidity\"),'vibration':global.get(\"vibration\"),'current':global.get(\"current\")}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["769c7416.d3788c"]]},{"id":"357fb550.b4ee0a","type":"http in","z":"5beda689.99db68","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["89ab991e.b2d5e8"]]},{"id":"33ca6fc6.124f7","type":"http response","z":"5beda689.99db68","name":"","statusCode":"","headers":{},"x":560,"y":360,"wires":[]},{"id":"89ab991e.b2d5e8","type":"function","z":"5beda689.99db68","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":360,"wires":[["33ca6fc6.124f7","ef6926aa.21b198","8f6f4989.0acf18"]]},{"id":"ef6926aa.21b198","type":"debug","z":"5beda689.99db68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":320,"wires":[]},{"id":"19182143.f8d04f","type":"function","z":"5beda689.99db68","name":"Vibration","func":"global.set('vibration',msg.payload.Vibration)\nmsg.payload=msg.payload.Vibration\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["2b29a25f.013bfe","9d5753c2.73652"]]},{"id":"43ce73f6.dc196c","type":"function","z":"5beda689.99db68","name":"Current","func":"global.set('current',msg.payload.Current)\nmsg.payload=msg.payload.Current\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["102b0048.81a39","9d5753c2.73652"]]},{"id":"2b29a25f.013bfe","type":"ui_gauge","z":"5beda689.99db68","name":"","group":"fa7c6a67.051358","order":2,"width":0,"height":0,"gtype":"donut","title":"Vibration","label":"hz","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":160,"wires":[]},{"id":"102b0048.81a39","type":"ui_gauge","z":"5beda689.99db68","name":"","group":"fa7c6a67.051358","order":2,"width":0,"height":0,"gtype":"donut","title":"Current","label":"A","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":200,"wires":[]},{"id":"dae2adf2.7c357","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"fa7c6a67.051358","type":"ui_group","z":"","name":"Default","tab":"b5be7cc0.8fa57","order":1,"disp":true,"width":"6","collapse":false},{"id":"b5be7cc0.8fa57","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]